:root{
    --color1:yellow;
    --color2:red;
    --color3:rgb(0, 255, 72);
    --color4: violet;
    --color5:pink
    

}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "yel yel vio"
    "rou ver vio"
    "rou pin pin";
    grid-gap: 40px;

}

div:nth-child(1){
    background-color: var(--color1);
    grid-area: yel;
}
div:nth-child(2){
    background-color: var(--color4);
    grid-area: vio;
}
div:nth-child(3){
    background-color: var(--color3);
    grid-area: ver;
}
div:nth-child(4){
    background-color: var(--color2);
    grid-area: rou;
}
div:nth-child(5){
    background-color: var(--color5);
    grid-area: pin;
}